/* неплохо, хорошо */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');  

/* странно почему не убрал поля которые установлены по дефолту */
/* body {
    margin: 0;
} */

header { /* лучше .header */
    width: 1920px;
    height: 150px;
    display: flex;
}

.header_content{
    width: 1596px; /* max-width правильное решение, чтобы не было статичного размера 1596px */
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu{
    width: 1244px; /* чаще используй max-width */
    height: 36px;
    gap: 80px;
    display: flex;
    justify-content: center;
}

/*
.uppercase {
    text-transofrm: uppercase;
}
*/

.textmenu{
    color: rgba(255, 161, 94, 1);
    font-size: 30px;
    font-family: "Inter"; /* не очень хорошо, ты мог глобальный стиль сделать вот так: * { font-family: "Inter"; } */
    margin: 0px;
    font-weight: 600;
    /*text-transform: uppercase;*/
}

main{
    width: 1920px;
    height: 823px;
    margin-top: 150px;
}

.hero{
    width: 1596px;
    height: 700px;
    margin-top: 62px; 
    margin-left: 162px; /* о нет, я непонимаю зачем, скорее просто пытался таким способом выравнить блок по центру но это не то*/
    /*Решение: margin: 62px auto auto 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.kartinka1{
    width: 788px;
    height: 700px;
    border: 16px solid rgba(216, 216, 216, 1);
    border-radius: 34px;
    gap: 10px;
}

.leftcontent{
    width: 626px;
    height: 463px;
    display: flex;
    flex-direction: column;
}

.mboy{
    font-family: 'Inter';
    font-weight: 800;
    font-size: 64px;
    margin: 0;
    color: rgba(255, 123, 29, 1);
}

.school{
    font-family: 'Inter';
    font-weight: 800;
    font-size: 90px;
    margin: 0;
    color: rgba(104, 43, 0, 1);
}

.button1{
    width: 303px;
    height: 81px;
    gap: 10px;
    border-radius: 41px;
    background: rgba(255, 161, 94, 1);
    font-family: 'Inter';
    font-weight: 800;
    font-size: 30px;
    color: white;
    border: 0;
}

.contentin{
    width: 626;
    height: 186;
    opacity: 1;
}

.about{
    width: 1920px;
    height: 950px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-frame{
    width: 1274px;
    height: 551px;
    gap: 33px;
    display: flex;
    justify-content: space-between;
}

.devochka{
    width: 304.16473388671875px; /* ого... я таких цифр не ставил */
    height: 551px;
}

.onas{
    width: 789px;
    height: 109px;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 90px;
    line-height: 100%; /* по требованию получилось, но технически сделал неправильно */
    text-transform: uppercase; /* о оно че, ну ты магеж */
    margin: 0;
}

.textrep{ /*Что? Текст треп?*/
    width: 789px;
    height: 77px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    text-transform: uppercase;   
    margin: 0;
    color: rgba(255, 161, 94, 1);
}

.item{
    width: 789px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

p,li{ /* допустим... */
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    margin: 0;
}

.gallery{ /* найс */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-text{
    font-family: Inter;
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 90px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}

.gallery-img1{
    display: flex;
    width: 587px;
    height: 660px;
    border: 4px,solid rgba(183, 183, 183, 1);
    border-radius: 12px;
    border-width: 4px;
    gap: 10px;
}

.gallery-img2{
    display: flex;
    width: 627px;
    height: 320px;
    opacity: 1;
    border-radius: 12px;
    gap: 10px;
    border: 4px,solid rgba(183, 183, 183, 1);
}

.gallery-img3{ 
    display: flex;
    width: 627px;
    height: 320px;
    opacity: 1;
    border-radius: 12px;
    gap: 10px;    
    border: 4px,solid rgba(183, 183, 183, 1);
}

.subphoto{
    width: 627px;
    display: flex;
    height: 660px;
    gap: 10px;
    flex-direction: column;
}

.gallery-images{
    display: flex;
    width: 1274px;
    height: 700px;
    border-radius: 18px;
    border: 4px,solid rgba(183, 183, 183, 1);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.contact{
    width: 1920px;
    height: 783px;
    display: flex;
    align-items: center;
}

.split{
    display: flex;
    width: 1596px;
    height: 616px;
    gap: 20px;
    justify-content: center;
}

.frame-contact{
    display: flex;
    width: 626px;
    height: 616px;
    gap: 10px;
    flex-direction: column;
}

.frame-6{
    display: flex;
    width: 626px;
    height: 497px;
    gap: 30px;
    flex-direction: column;
}

.school-jpg{
    width: 950px;
    height: 616px;
    border-radius: 24px;
    border: 4px,solid rgba(183, 183, 183, 1);
    gap: 10px;
}

.button2{
    font-family: Inter;
    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 7%;
    text-transform: uppercase;
    background: rgba(255, 161, 94, 1);
    color: white;
    width: 331px;
    height: 84px;
    gap: 10px;
    border-radius: 326px;
}

.request{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1920px;
    height: 1078px;
}

.frame-9{
    display: flex;
    width: 1271px;
    height: 835px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.frame-7{
    width: 627px;
    height: 688px;
    gap: 20px;
    border-radius: 32px;
    border: 6px,solid rgba(183, 183, 183, 1);
    display: flex;

}

.imginvite{
    width: 627px;
    height: 688px;
    gap: 10px;
    border-radius: 32px;
    border: 7px,solid rgba(183, 183, 183, 1); /* воу воу воу, это что за запятая после 7px; туда ее ставить не надо*/
}

.invite-h1{
    font-family: Inter;
    font-weight: 800;
    font-size: 90px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}