@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* { font-family: "Inter"; box-sizing: border-box; }

/* .wrapper{
    margin: 0 auto;
    max-width: 1920px;
} */

h1 {
    margin: 0;
}

.center-block{
    margin: 0 auto;
}

header{
    width: 1920px;
    height: 150px;
    display: flex;
    align-items: center;
}

.header_content{
    width: 1596px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}


.menu{
    width: 1244px; 
    height: 36px;
    gap: 80px;
    display: flex;
}

.textmenu{
    color: rgba(255, 161, 94, 1);
    font-size: 30px;
    margin: 0px;
    font-weight: 600;
    text-transform: uppercase;
}

main{
    width: 1920px;
    margin-top: 150px;
}

.hero{
    max-width: 1920px;
    display: flex;
    justify-content: center;
    padding-top: 62px;
    padding-bottom: 61px;
}

.subhero {
    width: 1596px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.kartinka1 {
    width: 788px;
    height: 700px;
    border: 16px solid rgba(216, 216, 216, 1);
    border-radius: 34px;
    object-fit: cover;
}

.button1{
    width: 303px;
    height: 81px;
    letter-spacing: 3px;
    border-radius: 41px;
    background: rgba(255, 161, 94, 1);
    font-weight: 800;
    font-size: 30px;
    color: white;
    border: 0;
    text-transform: uppercase;
}

.leftcontent{
    width: 626px;
    height: 463px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentin{

}

.textschool1{
    font-weight: 800;
    font-size: 64px;
    color: rgba(255, 123, 29, 1);
    text-transform: uppercase;
}

.textschool2{
    font-weight: 800;
    font-size: 90px;
    text-transform: uppercase;
    color: rgba(104, 43, 0, 1);
}

.about{
    width: 1920px;
    height: 950px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-frame{
    width: 1274px;
    height: 550px;
    gap: 33px;
    display: flex;
    justify-content: space-between;
}

.devochka{
    width: 300px;
    height: 550px;
}

.about1{
    width: 789px;
    height: 109px;
    font-weight: 800;
    font-size: 90px;
    line-height: 100%;
    text-transform: uppercase;
    margin: 0;
}

.textrep{
    width: 789px;
    height: 77px;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    text-transform: uppercase;   
    margin: 0;
    color: rgba(255, 161, 94, 1);
}

.item{
    width: 789px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

p,li{
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    margin: 0;
}

.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-text{
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 90px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}

.gallery-img1{
    display: flex;
    width: 587px;
    height: 660px;
    border: 4px,solid rgba(183, 183, 183, 1);
    border-radius: 12px;
    border-width: 4px;
    gap: 10px;
}

.gallery-img2{
    display: flex;
    width: 627px;
    height: 320px;
    opacity: 1;
    border-radius: 12px;
    gap: 10px;
    border: 4px,solid rgba(183, 183, 183, 1);
}

.gallery-img3{ 
    display: flex;
    width: 627px;
    height: 320px;
    opacity: 1;
    border-radius: 12px;
    gap: 10px;    
    border: 4px,solid rgba(183, 183, 183, 1);
}

.subphoto{
    width: 627px;
    display: flex;
    height: 660px;
    gap: 10px;
    flex-direction: column;
}

.gallery-images{
    display: flex;
    width: 1274px;
    height: 700px;
    border-radius: 18px;
    border: 4px,solid rgba(183, 183, 183, 1);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.contact{
    width: 1920px;
    height: 783px;
    display: flex;
    align-items: center;
}

.contact-h1{
    font-weight: 800;
    font-size: 90px;
    line-height: 100%;
    text-transform: uppercase;
}

.split{
    display: flex;
    width: 1596px;
    height: 616px;
    gap: 20px;
    justify-content: center;
}

.frame-contact{
    display: flex;
    width: 626px;
    height: 616px;
    gap: 10px;
    flex-direction: column;
}

.frame-6{
    display: flex;
    width: 626px;
    height: 497px;
    gap: 30px;
    flex-direction: column;
}

.school-jpg{
    width: 950px;
    height: 616px;
    border-radius: 24px;
    border: 4px,solid rgba(183, 183, 183, 1);
    gap: 10px;
}

.button2{
    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    background: rgba(255, 161, 94, 1);
    color: white;
    width: 331px;
    height: 84px;
    gap: 10px;
    border-radius: 326px;
    border: 0;
}

.request{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1920px;
    height: 1078px;
}

.frame-9{
    display: flex;
    width: 1271px;
    height: 835px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.frame-7{
    width: 627px;
    height: 688px;
    border-radius: 32px;
    border: 6px,solid rgba(183, 183, 183, 1);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imginvite{
    width: 627px;
    height: 688px;
    gap: 10px;
    border-radius: 32px;
    border: 7px,solid rgba(183, 183, 183, 1);
}

.invite-h1{
    font-weight: 800;
    font-size: 90px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.forma-text{
    font-weight: 800;
    font-size: 61px;
    text-transform: uppercase;
    display: flex;
    
}

.forma{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input{
    width: 527px;
    height: 100px;
    border-radius: 38px;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    gap: 10px;
    font-size: 24px;
    font-weight: 400;
    background-color: rgba(218, 218, 218, 1);
    color: rgba(80, 80, 80, 1);
}
 .button3{
    border:0px;
    width: 527px;
    height: 100px;
    border-radius: 326px;
    background-color: rgba(255, 161, 94, 1);
    gap: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
 }

 footer{
    width: 100%;
    height: 200px;
    background: rgba(255, 199, 80, 1);
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .footer-text{
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    color: white;
 }